<div class="task" data-subject="{{category}}">
    <h3 class="subject__title">{{category}}</h3>
    <div class="subject__progress">
        <div class="subject__progress-bar"
            style="width: {{percent completed_count total}}%"></div>
    </div>
    <p class="subject__status">Выполнено задач: {{completed_count}}/{{total}}</p>
</div>