<div class="tutors-section__tutor-card" data-id="{{id}}">
    <img src="{{imgUrl}}" alt="{{name}}" class="tutor-card__image">
    <h2 class="tutor-card__name">{{name}}</h2>
    <div class="tutor-card__subject">{{subject}}</div>
    <div class="tutor-card__rating">
        {{rating}}
    </div>
    <p class="tutor-card__description">{{content}}</p>
    <p class="tutor-card__price">{{price}} ₽/час</p>
    <a href="#" class="tutor-card__contact-button">Связаться</a>
</div>
