<div class="filters">
    <select class="subject-filter" id="subjectFilter">
        <option value="">All subjects</option>
        {{#each categories}}
            <option value="{{this}}"
                    {{#eq this ../selectedCategory}}selected="selected"{{/eq}}>
                {{this}}
            </option>
        {{/each}}
    </select>
</div>

<section class="tutors-section" id="tutorsGrid">
    {{#if tutors.length}}
        {{#each tutors}}
            {{> tutor_card}}
        {{/each}}
    {{else}}
        <div class="no-results">
            {{#if selectedCategory}}
                <p>No tutors found for "{{selectedCategory}}"</p>
            {{else}}
                <p>No tutors found</p>
            {{/if}}
        </div>
    {{/if}}
</section>

{{#if pagination}}
    <div class="pagination">
        {{#if pagination.prev}}
            <a href="/tutors?page={{pagination.prev}}{{#if selectedCategory}}&category={{selectedCategory}}{{/if}}"
            class="pagination__link pagination__link--prev">
            &laquo; Previous
            </a>
        {{/if}}

        <div class="pagination__pages">
            {{#each pagination.pages}}
                {{#if (eq this ../pagination.current)}}
                    <span class="pagination__page pagination__page--current">{{this}}</span>
                {{else}}
                    <a href="/tutors?page={{this}}{{#if ../selectedCategory}}&category={{../selectedCategory}}{{/if}}"
                    class="pagination__page">
                    {{this}}
                    </a>
                {{/if}}
            {{/each}}
        </div>

        {{#if pagination.next}}
            <a href="/tutors?page={{pagination.next}}{{#if selectedCategory}}&category={{selectedCategory}}{{/if}}"
            class="pagination__link pagination__link--next">
            Next &raquo;
            </a>
        {{/if}}
    </div>
{{/if}}

<div class="modal hidden" id="TutorModal">
    <div class="modal-wrapper">
        <button class="modal-close" aria-label="Close modal">
            &times;
        </button>

        <div class="tutor-modal__header">
            <img id="tutorModalImage" class="tutor-modal__image" src="" alt="Tutor Photo">
            <div class="tutor-info">
                <h2 id="modalTitle" class="tutor__name"></h2>
                <div id="tutorRating" class="tutor__rating"></div>
                <div id="tutorPrice" class="tutor__price"></div>
            </div>
        </div>

        <div class="modal-content">
            <h3>О преподавателе</h3>
            <p id="tutorDescription"></p>

            <div class="tutor-subjects">
                <h3>Преподаваемые предметы</h3>
                <div id="tutorSubjects" class="subjects-list"></div>
            </div>

            <div class="tutor-reviews">
                <h3>Отзывы</h3>
                <div id="reviewsList" class="reviews-container">
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <form id="tutorReviewsForm" class="review-form">
                <h3>Оставить отзыв</h3>
                <textarea class="review-textarea" placeholder="Напишите ваш отзыв"></textarea>
                <div class="rating__select">
                    <span>Оценка:</span>
                    <select class="rating__stars">
                        <option value="5">★ ★ ★ ★ ★</option>
                        <option value="4">★ ★ ★ ★ ☆</option>
                        <option value="3">★ ★ ★ ☆ ☆</option>
                        <option value="2">★ ★ ☆ ☆ ☆</option>
                        <option value="1">★ ☆ ☆ ☆ ☆</option>
                    </select>
                </div>
                <button type="submit" class="submit__review">Отправить</button>
            </form>
        </div>
    </div>
</div>
