<div class="filters">
    <select class="subject-filter" id="subjectFilter">
        <option value="">All subjects</option>
        {{#each categories}}
            <option value="{{this}}"
                    {{#eq this ../selectedCategory}}selected="selected"{{/eq}}>
                {{this}}
            </option>
        {{/each}}
    </select>
</div>

<section class="tutors-section" id="tutorsGrid">
    {{#if tutors.length}}
        {{#each tutors}}
            {{> tutor_card}}
        {{/each}}
    {{else}}
        <div class="no-results">
            {{#if selectedCategory}}
                <p>No tutors found for "{{selectedCategory}}"</p>
            {{else}}
                <p>No tutors found</p>
            {{/if}}
        </div>
    {{/if}}
</section>
